# Langchain and related packages
langchain
langchain-openai
langchain-community
langgraph
langgraph-checkpoint-sqlite
pydantic
python-dotenv
nest_asyncio
playwright
beautifulsoup4
tavily-python
# Web server
fastapi
uvicorn[standard]
sse-starlette
aiofiles
aiosqlite
pypdf
lxml